.pnf-container {
    height: calc(45vh - 120px);
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pnf-btn:hover {
    margin: 12px;
    height: 3rem;
    border: 2px solid black;
    color: black;
    font-size: 1.1rem;
    border-radius: 4px;
    padding: 10px;
    background-color: #EFEFEF;
}

.pnf-btn {
    height: 3rem;
    padding: 10px;
    margin: 12px;
    font-size: 1.1rem;
    border: 2px solid #A100F7;
    background-color: #A100F7;
    color: #EFEFEF;
    border:0;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}